.menu{
    padding: 0;
}
.menu *{
    display: inline-block;
}
a{
    color:darkblue;
    text-decoration: underline;
    cursor: pointer;
}
.mini{
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    border: 1px dotted tomato;
}
.mini h4{
    text-align: center;
    word-wrap: break-word;
}
.mini p{
    word-wrap: break-word;
}