.menu{
    padding: 0;
}
.menu *{
    display: inline-block;
}
a{
    color:darkblue;
    text-decoration: underline;
    cursor: pointer;
}
.mini{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px dotted tomato;
}
.mini h4{
    text-align: center;
}